
<h1>Under Construction! </h1>
<!-- <div class="page-header">
<h1> <?php echo __('Google Drive Setting');?></h1>
    <p>Here you can enable use of Google Drive as the storage location of your attachments and files uploaded to Sebvet xRM. When enabled, all files and attachments uploaded to Sebvet xRM will be stored on Google Drive. Furthermore, you can create new Google documents inside Sebvet xRM, and link existing ones from Google Drive to items (deals, persons, organizations) in Sebvet xRM.</p>
	
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
	<div class="panel panel-default">
    <div class="panel-body">
    Contoh cara nak connect google drive.

    	<div class="form-group">
        By clicking yes,you agree to share all attachment to google drive.
		<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Use Google Drive</label>
		<div class="col-sm-8">
   <?php echo $this->Form->button('Save',array('class'=>'btn btn-success center-block','type'=>'submit'));?>
    	</div>
    	</div>
    
    </div>
    </div>
    </div>
    </div> -->