body{
	background-color:#FFFFFF;
	/*background-image: url('http://192.168.1.9/my/crm/webroot/img/login-hilux-2.jpg');*/
	background-size: 100% 100%;
}
.login-layout .widget-box.visible {
/*-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);*/
/*border: 1px solid #000000;
border-radius: 4px;*/
}
.app-name{
	color: #333333;
font-family: Century Gothic, sans-serif;
font-weight: 900;
font-size:24px;
font-style: italic;
}
.space-50{
	max-height:1px;
  min-height:1px;
  overflow:hidden;
  margin:12px 0;
  margin:50px 0 19px
}
.space-40{
	max-height:1px;
  min-height:1px;
  overflow:hidden;
  margin:12px 0;
  margin:40px 0 19px
}
.space-30{
	max-height:1px;
  min-height:1px;
  overflow:hidden;
  margin:12px 0;
  margin:30px 0 19px
}