<div class="dealStages index">
	<h2><?php echo __('Deal Stages'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('created_by'); ?></th>
			<th><?php echo $this->Paginator->sort('modified_by'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($dealStages as $dealStage): ?>
	<tr>
		<td><?php echo h($dealStage['DealStage']['id']); ?>&nbsp;</td>
		<td><?php echo h($dealStage['DealStage']['name']); ?>&nbsp;</td>
		<td><?php echo h($dealStage['DealStage']['created']); ?>&nbsp;</td>
		<td><?php echo h($dealStage['DealStage']['modified']); ?>&nbsp;</td>
		<td><?php echo h($dealStage['DealStage']['created_by']); ?>&nbsp;</td>
		<td><?php echo h($dealStage['DealStage']['modified_by']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $dealStage['DealStage']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $dealStage['DealStage']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $dealStage['DealStage']['id']), array(), __('Are you sure you want to delete # %s?', $dealStage['DealStage']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Deal Stage'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Deals'), array('controller' => 'deals', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Deal'), array('controller' => 'deals', 'action' => 'add')); ?> </li>
	</ul>
</div>
