body,html{
	font-size: 12px;
	font-family: Arial,'times new roman',sans-serif;
}
a{
	color: #333;
}
a:hover{
color: #abbac3;
};

a >.top-deals{
	color: #abbac3 !important;
}
a >.top-deals:hover{
	color: #222;
};
.user-info{
	color:white !important;
}
.lead-name{
	color:#5a5a5a;
}	

@media(max-width:767px){
	.contact-grid{
		border:1px solid #ddd;
		margin-left: none;
	}
}
@media(min-width:768px){
	.contact-grid{
		margin-left: none;
	}
}
@media(min-width:992px){
	.contact-grid{
		margin-left: none;
	}
}
@media(min-width:1200px){
	.contact-grid{
		/*border:1px solid #ddd;*/
		/*margin-left:10px;*/
		margin-bottom:10px;
		padding: 2px;
		font-size: 12px;
		width:300px;
		max-width:none;
		max-height:none;
		height:180px;
	}
	.contact-grid:visited{
	
	}
	.contact-grid:hover{
	

	}
	.contact-picture:hover{
		background-color: #ddd;
	}
	.contact-img{
		padding: 0;
		/*margin-top: 10px;*/
		/*height: 100px;*/
		/*width: 100px;*/
	}
	.contact-content{
		/*max-height: 140%;*/
		/*height: 130px;*/
		/*max-width: 110%;*/
		/*width: 110%;*/
	}
	.contact-info{
		padding: 0px;
		/*margin-top: -50px;*/
	}
}
