<!-- <div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<?php echo $message; ?>
</div> -->

<script type="text/javascript">
jQuery(document).ready(function($) {
		(function error(){
		var error = "<?php echo $message;?>";
		swal({   title: "Error!",   text: error,   type: "error",   confirmButtonText: "OK" });
	})();
});


</script>